@use '../abstracts/variables';

.btn {
    padding: variables.$padding-small variables.$padding-medium;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    background-color: variables.$secondary-color;
    color: white;

    &:hover {
        background-color: darken(variables.$secondary-color, 10%);
    }
}