@use 'variables';

body {
    font-family: variables.$font-stack;
    color: variables.$primary-color;
    line-height: 1.6;
}

h1, h2, h3 {
    color: variables.$secondary-color;
    margin-bottom: 0.5em;
}